# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
.env
/config/mongoid.yml
/config/database.yml
/log/*.log
/.bundle
/.yardoc
/_yardoc
/coverage
/doc
/pkg
/spec/reports
/tmp
/.byebug_history
.DS_Store
*.dump
/node_modules

# React on Rails
npm-debug.log
node_modules
